h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: underline;

}

ul {
    list-style-position: inside;

}

body {
    display: grid;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color:  #fa9c38;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}